<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    
</head>
<body class="bg-body-tertiary">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    
</nav>

<main class="container-fluid mt-5">
    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">

          <li class="breadcrumb-item"><a href="https://bloomnetwork.online/">Home</a></li>

          <li class="breadcrumb-item"><a href="https://bloomnetwork.online/guides">Guides</a></li>

        </ol>

      </nav> 
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src="https://avatars.steamstatic.com/d1f2e38959945b174ea434918ceec521ebf64fe4_full.jpg" alt="Guide Icon" width="80" height="80">
                            </div>
                            <div class="col">
                                <h2>Guide Title</h2>
                                <p class="card-text">Guide description goes here...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="container">
                <div class="guide-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida odio sit amet posuere volutpat. Morbi id libero in elit fringilla consectetur. Phasellus tempor dolor justo, ac lobortis arcu feugiat in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus eu dolor est. Vestibulum porttitor tincidunt velit, at consequat lorem ullamcorper eget. Integer auctor mi ut finibus cursus. Nulla facilisi. Nam vitae dui at nunc tempus tempor. Nulla facilisi. Mauris vel urna non tortor hendrerit feugiat. Donec varius, nunc et mattis bibendum, sapien felis pellentesque turpis, id ullamcorper orci purus nec urna. Integer in ultricies metus.
                    </p>
                    <p>
                        Fusce vestibulum felis nunc, ut efficitur felis aliquam nec. Quisque pharetra velit a libero fermentum suscipit. Nullam in ultricies libero. Sed non posuere justo, sit amet tempus lorem. Integer condimentum urna nisi, et commodo turpis efficitur ut. Ut pharetra tincidunt nibh, sed malesuada libero. Cras sit amet odio dolor. Nulla in nibh in magna congue interdum eget at libero. Curabitur nec justo non velit luctus venenatis vel vel tortor. Proin eleifend vel lorem at fermentum. Proin ultrices vitae ipsum eget efficitur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="https://avatars.steamstatic.com/d1f2e38959945b174ea434918ceec521ebf64fe4_full.jpg" alt="Author" width="50" height="50" class="me-3">
                        <h5 class="card-title">Author Name</h5>
                    </div>
                    <hr>
                    <h4>Categories</h4>
                    <div class="workshopTags" data-panel="{&quot;type&quot;:&quot;PanelGroup&quot;}">
                        <span class="workshopTagsTitle">Category:&nbsp;</span>
                        <a href="#">Achievements</a>,
                        <a href="#">Characters</a>,
                        <a href="#">Classes</a>,
                    </div>
                    <hr>
                    <h4>Language</h4>
                    <p>English</p> 
                    <hr>
                    <h4>Guide Index</h4>
                    <p>This is the guide index...</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="offcanvas-navbar.js"></script>
</body>
</html>
