<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    
</head>
<body class="bg-body-tertiary">


<main class="container-fluid mt-5">
    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">

          <li class="breadcrumb-item"><a href="https://bloomnetwork.online/">Home</a></li>

          <li class="breadcrumb-item"><a href="https://bloomnetwork.online/guides">Guides</a></li>

        </ol>

      </nav> 
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img id="guideIcon" src="https://avatars.steamstatic.com/d1f2e38959945b174ea434918ceec521ebf64fe4_full.jpg" alt="Guide Icon" width="80" height="80">
                            </div>
                            <div class="col">
                                <h2 id="guideTitle">Guide Title</h2>
                                <p id="guideDesc" class="card-text">Guide description goes here...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="container">
                <div class="guide-content">

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="https://avatars.steamstatic.com/d1f2e38959945b174ea434918ceec521ebf64fe4_full.jpg" alt="Author" width="50" height="50" class="me-3">
                        <h5 class="card-title">Author Name</h5>
                    </div>
                    <hr>
                    <h4>Categories</h4>
                    <div class="workshopTags" data-panel="{&quot;type&quot;:&quot;PanelGroup&quot;}">
                        <span class="workshopTagsTitle">Category:&nbsp;</span>
                        <a href="#">Achievements</a>,
                        <a href="#">Characters</a>,
                        <a href="#">Classes</a>,
                    </div>
                    <hr>
                    <h4>Language</h4>
                    <p>English</p> 
                    <hr>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>

<script src="offcanvas-navbar.js"></script>
<script>
    $(document).ready(function () {
        // Initialize Showdown converter
        var converter = new showdown.Converter();
    
        $.ajax({
            url: 'https://api.bloomnetwork.online/guides/guide?guideId=<%= guideId %>',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update the HTML table with the received data
                var guideData = data.result[0];
                if (!guideData) return;
                $('#guideTitle').text(guideData.Title);
                $('#guideDesc').text(guideData.Desc);
                $('#guideIcon').attr('src', guideData.Icon);
                
                // Convert Markdown to HTML
                var htmlContent = converter.makeHtml(guideData.Content);
                
                // Set guide content
                $('.guide-content').html(htmlContent);
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    });
    </script>
    
</body>
</html>
